# IDE
/.idea
/.vscode

# Composer
/vendor
/composer.lock
/auth.json

# Cache
/.composer-cache
/.phive-cache
/*.cache

# Testing
/resources/tools
/*.phar
/junit.*.xml
/phpunit.xml
/phpstan.neon
/.php-cs-fixer.php
/phive.xml
