<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.3/phpunit.xsd"
        backupGlobals="true"
        cacheTokens="false"
        verbose="true">

    <filter>

        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory>/docs</directory>
                <directory>/test</directory>
                <directory>/vendor</directory>
                <file>/composer.json</file>
                <file>/composer.lock</file>
                <file>/README.md</file>
                <file>/.editorconfig</file>
                <file>/.gitignore</file>
                <file>/.travis.yml</file>
                <file>/LICENSE</file>
                <file>/phpunit.xml</file>
            </exclude>
        </whitelist>

    </filter>

    <logging>

        <log type="coverage-html" target="./docs/tests/codeCoverage" lowUpperBound="50" highLowerBound="80"/>
        <log type="testdox-html" target="./docs/tests/testdox.html" />

    </logging>

</phpunit>
