<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.3/phpunit.xsd"
        backupGlobals="true"
        backupStaticAttributes="false"
        cacheTokens="false"
        colors="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        printerClass="PHPUnit\TextUI\ResultPrinter"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        stopOnRisky="false"
        testSuiteLoaderClass="PHPUnit\Runner\StandardTestSuiteLoader"
        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60"
        verbose="true">

    <filter>

        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory>/docs</directory>
                <directory>/test</directory>
                <directory>/vendor</directory>
                <file>/composer.json</file>
                <file>/composer.lock</file>
                <file>/README.md</file>
                <file>/.editorconfig</file>
                <file>/.gitignore</file>
                <file>/LICENSE</file>
                <file>/phpunit.xml</file>
            </exclude>
        </whitelist>

    </filter>

    <logging>

        <log type="coverage-html" target="./docs/reports/codeCoverage" lowUpperBound="50" highLowerBound="80"/>
        <log type="testdox-html" target="./docs/reports/testdox.html" />

    </logging>

</phpunit>
